artist-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
}

.card {
  width: 20rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-img-top {
  width: auto;
  height: 66%;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;

}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}