.artistes-card-title {
  color: var(--secondary-color-one);
}

.artistes-card-gradient {
  background-image: linear-gradient(
    to right,
    var(--main),
    var(--secondary-color),
    var(--secondary-color-one)
  );
}

.artistes-card-name {
  color: var(--white-100);
}

.card {
  display: flex;
  flex-direction: column;
  border: solid 2px;
  border-radius: 0 2rem 2rem 0;
  width: 100%;
}
