.navBarDesk-container {
    transition: left 0.7s ease-in-out;
    left: 0;
}

.navBarDesk-container.hide {
    left: -3.6rem;
}
.navBarDesk {
    height: 60%;
    width: 100%;
    max-width: 70px;
    border-radius: 0 2rem 2rem 0;
    background-color: var(--white-500);
}

.expand-btn {
    background-color: var(--white-500);
}