.cardDiscover-container {
    background-color: var(--secondary-orange);
    border-color: var(--secondary-orange-border);
    border-style: solid;
    border-width: 0.2px;
}

.cardDiscoverTitle {
    background-color: var(--main-dark);
}

.cardDiscoverSpan {
    color: var(--black-text);
}