.icon-user-logIn{
    border-radius: 3rem;
  }

  .icon-home-navBar {
    border-radius: 3rem;
    overflow: hidden;
  }


  .leftArrow-icon {
    overflow: hidden;
    border-radius: 3rem;
    width: 30px;
  }

  .homeLogo {
    width: 40%;
    height: 100%;
  }

  .fb-icon {
    width: 30px;
    height: 30px;
    color : var(--white-100);
  }

  .x-icon {
    width: 30px;
    height: 30px;
    color : var(--white-100);
  }

  .inst-icon {
    width: 30px;
    height: 30px;
    color : var(--white-100);
  }

  .xclose-icon {
    width: 40px;
    height: 40px;
    color : var(--white-100);
  } 