.icon-user-logIn{
    border-radius: 3rem;
  }

  .icon-home-navBar {
    border-radius: 3rem;
    overflow: hidden;
  }

  .burger-icon {
  }

  .leftArrow-icon {
    overflow: hidden;
    border-radius: 3rem;
    width: 30px;
  }

  .homeLogo {
    width: 40%;
    height: 100%;
  }