.register-container {
    max-width: 450px;
    background-color: var(--secondary-orange);
    border-radius: 2rem;
}

input {
    margin-top: 0.3rem;
    border-color: var(--secondary-orange-border) !important;
    border: solid 1px;
    padding: 0.2rem 0.4rem;
    border-radius: 2rem;
    color:var(--main-text)
}

input:focus {
    outline: none;
    border: 1px solid transparent;
    background-image: linear-gradient(white, white),linear-gradient(315deg, var(--secondary-orange-border), var(--secondary-yellow-border));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    animation: bg-hue 5s linear infinite;
  }
  
  /* @keyframes for the gradient animation */
  @keyframes bg-hue {
    100% {
      filter: hue-rotate(360deg);
    }
  }